<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shift Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
</head>
<body>
    <% include Partials/dashboard-banner %>
    <br>
    <div class="tabs-panel">
        <aside class="menu">
            <p class="menu-label">
                Information
            </p>
            <ul class="menu-list">
                <li><a href="/dashboard/<%= guild.id %>/info">Info</a></li>
                <li><a class="is-active">Bot</a></li>
            </ul>
            <p class="menu-label">
                Administration
            </p>
            <ul class="menu-list">
                <li><a>Strikes</a></li>
                <li><a>Kick</a></li>
                <li><a>Ban</a></li>
                <li><a>Mute</a></li>
            </ul>
            <p class="menu-label">
                Settings
            </p>
            <ul class="menu-list">
                <li><a>Welcome Mesages</a></li>
                <li><a>Leave Messages</a></li>
                <li><a>Logging</a></li>
            </ul>
            <br>
            <p class="has-text-centered">The dashboard is still in Beta, expect bugs and slow performance. <a href="">Want to report said bugs?</a></p>
        </aside>
    </div>
    <br>
    <div class="has-text-centered">
        <h1 class="title is-2 has-text-centered">Hi, I'm Shift.</h1>
        <p class="subtitle">v<%= version %></p>
        <br>
        <p>
            Built by Hayden.#2616 and Hydrogen#0002
        </p>
    </div>
</body>
</html>