<section class="has-text-centered" style="background:linear-gradient(#4c3fc2, #36ee7d); padding-top:90px; padding-bottom:90px;">
    <h1 class="title is-1" style="color:white;">Hi <%= req.user.username %>,</h1>
    <p class="subtitle" style="color:white;">This is the control panel of your server, <%= guild.name %></p>
    <a href="/logout" class="button is-danger"><i class="fa fa-power-off"></i> Logout</a> <a href="/" class="button is-info"><i class="fa fa-home"></i> Go home</a>
</section>
